<html lang="nl">

<head>
<link href="../style.css" type="text/css" rel="stylesheet"></link>
    <link rel='shortcut icon' href='../favicon.png' type='image/png'/>
<title>Gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<header class="headerbin"></header>

<! --- Navbar --- >
 <div class="topnav">
    <a href="index_nl.html">Home</a>
    <a href="cv_nl.html">CV</a>
    <a href="publications_nl.html">Publicaties</a>
    <a href="recordings_nl.html">Audio files</a>
    <a href="gallery_nl.html">Gallerij</a>
    <a class="active" href="bingo_nl.html">Conferentie Bingo</a>
    <a href="map_nl.html">Waar ben ik?</a>
    <a style="float:right" href="bingo_nl.html">NL <img src="../icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="../bingo.html">EN <img src="../icons/canada.png" style="height:16px; width:16px;"></a>
 </div>
 
 <div class="page-wrap">
  <section>
   <h1 id="bingo">Conferentie bingo</h1>
      <table border="1">
        <tr>
          <td>*spreker weigert naar chair te kijken die het 2 min bordje ophoudt*</td>
          <td>Bedankt voor de interessante data</td>
          <td>Interessant. Bij MIJN onderzoek.....</td>
          <td>En nu willen we graag de organisatoren bedanken...En de sprekers! En het publiek! *iedereen klapt voor iedereen*</td>
        </tr>
        <tr>
          <td>Bedankt voor de referentie, ik schrijf het op *krabbelt iets op een papiertje*</td>
          <td>*slaat 40 Powerpoint slides over*</td>
          <td>Koffie!</td>
          <td>*staart naar een bekend uitziend gezicht* Hebben wij elkaar eerder ontmoet?</td>
        </tr>
        <tr>
          <td>*De grootste namen uit de Taalwetenschap ontmoeten als ze licht aangeschoten zijn*</td>
          <td>En nu: Lunch!</td>
          <td>*chair wuift zachtjes met het 0 min bordje naar de spreker*</td>
          <td>Vragen?</td>
        </tr>
        <tr>
          <td>Aan de borrel!</td>
          <td>*Gezamenlijk van één parallelle sessie naar de andere sluipen*</td>
          <td>Stuur me die referentie alstublieft</td>
          <td>*Chair leunt over minimaal drie mensen in de eerste rij, zwaaiend met het 0 min bordje, terwijl hij zo veel mogelijk lawaai maakt om de aandacht te trekken. De hele zaal kijkt naar de chair. De spreker niet.</td>
        </tr>
      </table>
      </section>
</div>

<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>
 
</body>
</html>
