<html lang="nl">

 <head>
    <link href="../style.css" type="text/css" rel="stylesheet"></link>
   <link rel='shortcut icon' href='../favicon.png' type='image/png'/>
   <script type="text/javascript" src="../js/clock_nl.js"></script>
  <title>Anne's Page</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
       <header class="headerind"></header>
  <div class="topnav">
    <a href="index_nl.html">Home</a>
    <a class="active" href="cv_nl.html">CV</a>
    <a href="publications_nl.html">Publicaties</a>
    <a href="recordings_nl.html">Audio files</a>
    <a href="gallery_nl.html">Gallerij</a>
    <a href="bingo_nl.html">Conferentie Bingo</a>
    <a href="map_nl.html">Waar in de wereld ben ik?</a>
    <a style="float:right" href="cv_nl.html">NL <img src="../icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="../cv.html">EN <img src="../icons/canada.png" style="height:16px; width:16px;"></a>
  </div>
  
  <div class="page-wrap">
  <section class="main-content">
    <h1>CV</h1>
    <p>Onder constructie</p>
  </section>
  
  <aside class="left-sidebar">
    </aside>
<aside class="main-sidebar" role="complementary"></aside>
  
  </div>
  
  <footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" target="_blank" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" target="_blank" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>
  
</body>
</html>
