<html lang="nl">

 <head>
    <link href="../style.css" type="text/css" rel="stylesheet"></link>
   <link rel='shortcut icon' href='../favicon.png' type='image/png'/>
   <script type="text/javascript" src="clock_nl.js"></script>
  <title>Anne's Page</title>
  </head>
  <body>
       <header class="headerind"></header>
  <div class="topnav">
    <a class="active" href="index_nl.html">Home</a>
    <a href="recordings_nl.html">Opnames</a>
    <a href="publications_nl.html">Publicaties</a>
    <a href="gallery_nl.html">Gallerij</a>
    <a href="bingo_nl.html">Conferentie Bingo</a>
    <a href="map_nl.html">Waar in de wereld ben ik?</a>
    <a style="float:right" href="index_nl.html">NL <img src="../icons/nederland.png" style="height:17px; width:17px;"></a>
    <a style="float:right" href="../index.html">EN <img src="../icons/canada.png" style="height:17px; width:17px;"></a>
    <a href="nl/nl_test.html">Test</a>
  </div>
  
  <div class="page-wrap">
  <section class="main-content">
  <h1>Persoonlijke informatie</h1>
      <p>Omdat ik zelf altijd bij mensen aandring dat ze in hun moedertaal spreken (en die ook vooral online moeten gebruiken), moet ik misschien dat zelf ook maar eens gaan doen: Mijn naam is Anne Kruijt, en ik ben een Nederlandse PhD-student aan de Universiteit van Verona (Itali&euml) in de sectie <a href="http://www.dlls.univr.it/?ent=avvisoin&cs=819&lang=en">Taalwetenschap</a>. Mijn PhD-project gaat over de naamvalsystemen van het gebied Zuid-Tirol in Itali&euml, and ik werk binnen een Digital Humanities framework, en in de geest daarvan ben ik begonnen met het leren programeren met HTML5, CSS en Javascript. Deze website is dan ook erg houtje-touwtje, omdat het al lerend wordt opgebouwd. Het bevat dan ook veel vreemde kleurencombinaties, nutteloze tabellen, en een hoop overbodige restjes syntax.</p>

      <h2 id="nl">Waar kan je me vinden?</h2>
      <p>Gedurende de werkweek, ben ik te vinden in de PhD-kamer op de tweede verdieping van het Palazzo Lingue, die met de week gezelliger wordt, door de toevoeging van een waterkoker, wat plantjes, en in de toekomst wat kleur op de muren. In het weekend profiteer ik graag van het mooie weer en de prachtige omgeving van Verona, door te gaan wandelen of hardlopen. De paar weekenden in het jaar dat het slecht weer is, struin ik graag door half-verlaten musea.</p>

<h2>Onderzoeksgebieden</h2>
  <ul>
    <li>Beschrijvende taalwetenschap</li>
    <li>Taalcontact</li>
    <li>Cushitische talen (met name Iraqw)</li>
    <li>Naamvalsystemen</li>
    <li>Bedreigde talen</li>
    <li>Veldwerkmethodes</li>
    <li>Morphosyntax</li>
   </ul>
</section>
  
<aside class="left-sidebar">      
    <span id="clock_nl"></span>
    <script type="text/javascript">window.onload = clock_nl('clock_nl');</script></aside>
<aside class="main-sidebar"><img class="profile" src="../images/anne.jpg" alt="Profile Picture"/>
<div id="sidebarpic">
<h3>Links</h3>
<p><a href="https://riftvalleynetwork.wordpress.com/">Rift Valley Network</a>
</div>
</aside>

</div>

<footer>&copy; A Kruijt 2019</footer>

</body>
</html>
