<!DOCTYPE html>
<html lang="nl">
  <head>
    <link type="text/css" rel="stylesheet" href="style.css" ></link>
    <style scr: url("../style.css")>
   
    </style>
  </head>

<body>
<h1>IK wil dit graag linken aan mijn style-sheet maar het lukt niet, huilen!</h1>

<img src="../images/baldo.JPG"></img>

 <h2><img class="profile" src="../saintrochus.jpg" alt="a saint with sore leg"/></h2>
 <a href="http://www.dlls.univr.it/?ent=avvisoin&cs=819&lang=en">Department of Linguistics</a>
</body>
</html>
