<html>

<head>
<link href="../style.css" type="text/css" rel="/stylesheet"></link>
<title>Title</title>
</head>

<body>
<h1>IK wil dit graag linken aan mijn style-sheet maar het lukt niet, huilen!</h1>

<img src="../images/baldo.JPG"></img>

 <h2><img class="profile" src="../saintrochus.jpg" alt="a saint with sore leg"/></h2>
</body>
</html>
