<html lang="nl">

  <head>
    <link href="../style.css" type="text/css" rel="stylesheet"></link>
  <title>Anne's Page</title>
  </head>
  <body>
       <header class="headerind"></header>
  <div class="topnav">
    <a class="active" href="index_nl.html">Home</a>
    <a href="recordings_nl.html">Opnames</a>
    <a class ="active" href="publications_nl.html">Publicaties</a>
    <a href="gallery_nl.html">Gallerij</a>
    <a href="bingo_nl.html">Conferentie Bingo</a>
    <a href="map_nl.html">Waar ben ik?</a>
    <a style="float:right" href="publications_nl.html">NL <img src="../icons/nederland.png" style="height:17px; width:17px;"></a>
    <a style="float:right" href="../publications.html">EN <img src="../icons/canada.png" style="height:17px; width:17px;"></a>
  </div>
  
  <div class="page-wrap">
 <section class="main-content">
  <h1>Publicaties</h1>
  <p>Kruijt, Anne (2018). <em>The use of the ablative clitic in locative phrases in Iraqw, a Cushitic language of Tanzania</em>. Journal of African Languages and Linguistics, 39 (2):241-265.
<br></br>
Kruijt, Anne and Mark Turin (2017). Review Article. <em>Language in Society</em> 46 (2):257-269.
</p>
</section>
<aside class="left-sidebar"></aside>
<aside class="main-sidebar"></aside>

</body>

</html>
