<html lang="nl">

  <head>
    <link href="../style.css" type="text/css" rel="stylesheet"></link>
    <link rel='shortcut icon' href='../favicon.png' type='image/png'/>
  <title>Anne's Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
       <header class="headerpub"></header>
 <div id="nav-placeholder">
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
$.get("navigation_nl.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script>
</div>
  
  <div class="page-wrap">
 <section class="main-content">
  <h1>Publicaties</h1>
  <p>Kruijt, Anne (2018). <em>The use of the ablative clitic in locative phrases in Iraqw, a Cushitic language of Tanzania</em>. Journal of African Languages and Linguistics, 39 (2):241-265.
<br></br>
Kruijt, Anne and Mark Turin (2017). Review Article. <em>Language in Society</em> 46 (2):257-269.
</p>
</section>
<aside class="left-sidebar"></aside>
<aside class="main-sidebar"></aside>

<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>

</body>

</html>
