<!DOCTYPE html>
<html lang="nl">

 <head>
    <link href="../style.css" type="text/css" rel="stylesheet"></link>
        <link rel='shortcut icon' href='../favicon.png' type='image/png'/>
  <title>Anne's Page</title>
  </head>
  <body>
       <header class="headerrec"></header>
  <div class="topnav">
    <a  href="index_nl.html">Home</a>
    <a class="active" href="recordings_nl.html">Opnames</a>
    <a href="publications_nl.html">Publicaties</a>
    <a href="gallery_nl.html">Gallerij</a>
    <a href="bingo_nl.html">Conferentie Bingo</a>
    <a href="map_nl.html">Waar in de wereld ben ik?</a>
    <a style="float:right" href="recordings_nl.html">NL <img src="../icons/nederland.png" style="height:17px; width:17px;"></a>
    <a style="float:right" href="../recordings.html">EN <img src="../icons/canada.png" style="height:17px; width:17px;"></a>
  </div>
  
  <div class="page-wrap">
  <section class="main-content" role="main">
     <h1>Opnames</h1>
    <p>This page will contain the recordings of my data in the future</p>
  </section>
  
<aside class="main-sidebar" role="complementary">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="#">Battery Kinsie - Fleet Foxes
    <audio controls>
	   <source src="../audio/fleet_battery.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></li>
  <li><a href="#">Sunrise - Norah Jones
<audio controls>
	   <source src="../audio/testsmall.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></li>

  <li><a href="#">Blue Spotted Tail - Fleet Foxes
<audio controls>
	   <source src="../audio/fleet_blue.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
  <li><a href="#">Ophelia - The Lumineers
<audio controls>
	   <source src="../audio/ophelia.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>

  <li><a href="#">Say a little prayer - Aretha Franklin
<audio controls>
	   <source src="../audio/franklin.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
  </aside>
  
  <aside class="left-sidebar" role="left"></aside>

</div>

<footer>&copy;A Kruijt 2019</footer>

</body>
</html>
