<html>

<head>
  <link href="style.css" type="text/css" rel="stylesheet"></link>
  <link rel='shortcut icon' href='favicon.png' type='image/png'/>
<title>Iraqw Ablative Clitic</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header class="headerabl"></header>

 <div id="nav-placeholder">
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
$.get("navigation.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script>
</div>
 
<div class="page-wrap">
 <section class="main-content">
  <h1> JALL 2018 Iraqw Ablative Clitics </h1> <br></br>
  <p>Cite: Kruijt, Anne (2018) <em>The use of the ablative clitic in locative phrases in Iraqw, a Cushitic language of Tanzania</em>. Journal of African Languages and Linguistics, 39 (2):241-265.</p>
  <br></br>
  <p>Please find the accompanying audio files for the examples provided in the article here.</p>
  <br></br>
  
<nav>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<ul id="myUL">
      <li><a href="#">1a.&emsp;<em>/ameeni i hi’i-m-iit dír yaeé-r=i al</em><br>
	        &emsp;&emsp;woman SBJ.3 walk-DUR-:3SG.F place:CON river-F=DIR RESPRO<br>
	        &emsp;&emsp;‘The woman walks to the river.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>
    <li><a href="#">1b.&emsp;<em>naxés ba’ari ni-na bará sla/a-tá=wa ti’it</em><br>
	&emsp;&emsp;well bees PL-PST in:CON bush-F1=ABL appear:3SG.F<br>
	&emsp;&emsp;‘Then bees appeared from the bush.’<br>
<p>(Kruijt 2018:pn)</p>
    <audio controls controlsList="nodownload">
	  <source src="audio/kruijt_2019_1b.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></li>
   <li><a href="#">1c&emsp;<em>dooslitamo /ayto’o ga-na doósl kurmó=r alé</em><br>
	        &emsp;&emsp;farmer maize OBJ.3.F-PST dig:3SG.M hoe=INS RESPRO<br>
	        &emsp;&emsp;‘The farmer dug the maize with a hoe.’<br>
          <p>(Kruijt 2018:pn)</p>
          <audio controls controlsList="nodownload">
	        <source src="audio/kruijt_2019_1c.wav" type="audio/wav" />
	        Error: your web browser does not support this audio player.
  </audio></a></li>
   <li><a href="#">1d&emsp;<em>hhawaata i-na hikwá=sa daqay </em><br>
	        &emsp;&emsp;man SBJ.3-PST cattle=REAS go:3SG.M<br>
	        &emsp;&emsp;‘The man went for (to get) the cattle.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="audio/kruijt_2019_1d.wav" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></a></li>
  <li><a href="#">2a.&emsp;<em>murú /ayma Joseph gu-na tsiindó=wa amohhe’eés</em><br>
	        &emsp;&emsp;food Joseph OBJ.3.M-PST evening=ABL prepare:3SG.M<br>
	        &emsp;&emsp;‘From the evening on Joseph prepared the food.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>
      <li><a href="#">2b.&emsp;<em>/ameeni i dír yaeé-r=i hi’i-m-iit</em><br>
	        &emsp;&emsp;woman SBJ.3 place:CON river-F=DIR walk<DUR>:3SG.F<br>
	        &emsp;&emsp;‘The woman walks to the river.’ <br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>
      <li><a href="#">2c.&emsp;<em>dooslusmo qaymo ga-na adá doósl</em><br>
	        &emsp;&emsp;farmer fields OBJ.3.F-PST quickly cultivate:3SG.M<br>
	        &emsp;&emsp;‘The farmer cultivated the fields quickly.’<br>
          <p>(Kruijt 2019:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li> 
      <li><a href="#">3a.&emsp;<em>kitaangw u-na hingeés dír qat-uú=wa alé ay gawá muundí</em><br>
	        &emsp;&emsp;chair OBJ.M-PST move:1SG place:CON bedroom-M=ABL RESPRO DIR top:CON courtyard<br>
	        &emsp;&emsp;‘I moved the chair from the bedroom to the courtyard.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li> 
      <li><a href="#">3b.&emsp;<em>/ameeni i hi’i-m-iit dír yaeé-r=i alé</em><br>
	        &emsp;&emsp;woman SBJ.3 walk-DUR-:3SG.F place:CON river-F=DIR RESPRO<br>
	        &emsp;&emsp;‘The woman walks to the river.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>
      <li><a href="#">3c.&emsp;<em>dooslusmo qaymo ga-na doósl adá alé</em><br>
	        &emsp;&emsp;farmer fields OBJ.3.F-PST cultivate:3SG.M quickly RESPRO<br>
	        &emsp;&emsp;‘The farmer cultivated the fields quickly.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio> <p>Recorded on 30-12-2016</p></a></li> 
      <li><a href="#">5a.&emsp;<em>i /aymár sla’-ír</em><br>
	        &emsp;&emsp;SBJ.3 eat:CON want-3PL<br>
	        &emsp;&emsp;‘They want to eat.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio><p>Recorded on 25-1-2017</p></a></li> 
      <li><a href="#">5b.&emsp;<em>i /aymá-r=wa sla’-ír			</em><br>
	        &emsp;&emsp;OBJ.1SG/2SG.F eat-F=ABL want-3PL<br>
	        &emsp;&emsp;‘They want to eat me/you (2SG.F).’<br>
          &emsp;&emsp;*‘They want to eat.’<br>
          <p>(Kruijt 2018:pn)</p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio><p>Recorded on 25-1-2017</p></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>  </audio></a></li>
      <li><a href="#">&emsp;<em></em><br>
	        &emsp;&emsp;w<br>
	        &emsp;&emsp;<br>
          <p></p>
        <audio controls controlsList="nodownload">
	      <source src="" type="audio/wav" />
	       Error: your web browser does not support this audio player.
  </audio></a></li>
  <li><a href="#">Kruijt_2019_23b
<audio controls controlsList="nodownload">
	   <source src="audio/kruijt_2019_23b.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
  
    <li><a href="#">Kruijt_2019_27a
<audio controls controlsList="nodownload">
	   <source src="audio/kruijt_2019_27a.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
  <li><a href="#">Kruijt_2019_27b
<audio controls controlsList="nodownload">
	   <source src="audio/kruijt_2019_27b.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
</ul>
</nav>

<script>
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<script>(function( $ ){
  $.fn.autowidth = function() {
    return this.each(function() {        
        $('li', this).css({'width' : (100 / $('li', this).length) + '%'})
    });
  };
})( jQuery );

$(document).ready(function(){
    $('nav > li').autowidth();    
});
</script>

</section>

<aside class="left-sidebar"></aside>
<aside class="main-sidebar"></aside>
 </div>
 

<div>
<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
    </footer>
</div>

</body>
</html>
