<html lang="en">

<head>
  <link href="style.css" type="text/css" rel="stylesheet"></link>
  <link rel='shortcut icon' href='favicon.png' type='image/png'/>
<title>Bingo</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header class="headerbin"></header>

 <div class="topnav">
    <a href="index.html">Home</a>
    <a href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a class="active" href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/bingo_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="bingo.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
 </div>
 
 
 <div class="page-wrap">
  <section>
   <h1 id="bingo">Conference bingo</h1>
      <table border="1">
        <tr>
          <td>*speaker refuses to look at the chair holding up the 2 min sign*</td>
          <td>"Thank you for the data"</td>
          <td>"How interesting. In MY research...."</td>
          <td></td>
        </tr>
        <tr>
          <td>"I do not know that reference, I will right it down *scribbles aimlessly at piece of paper"</td>
          <td>*skips forwards 40 slides in the Powerpoint*</td>
          <td>Coffee time!</td>
          <td></td>
        </tr>
        <tr>
          <td>Questions?</td>
          <td>Bonus space</td>
          <td>*chair is softly waving with 0 min sign in speakers direction*</td>
          <td></td>
        </tr>
        <tr>
          <td>*Chair leans over at least three people in the first row with 0 min sign, while making as much noise at possible. Entire room looks at them. Speaker does not</td>
          <td>"Please send me that reference"</td>
          <td>And now: Lunch!</td>
          <td></td>
        </tr>
      </table>
      </section>
</div>

<div>
<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
    </footer>
</div>

</body>
</html>
