<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <link rel='shortcut icon' href='favicon.png' type='image/png'/>
    <script type="text/javascript" src="js/clock.js"></script>
  <title>Anne's Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
       <header class="headercv"></header>
  <div class="topnav">
    <a href="index.html">Home</a>
    <a class="active" href="cv.html">CV</a>
    <a href="publications.html">Publications</a>
    <a href="recordings.html">Audio files</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/cv_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="cv.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
  </div>

  <div class="page-wrap">
  <section class="main-content">
      <div>
      <table border="0" id="cv">
        <tr>
        <th colspan="3">Education</th>
        </tr>
        <tr>
          <td>2018-present</td>
          <td><b>PhD</b>, Linguistics, Digital Humanities, Program of Excellence, University of Verona, Italy.</td>
          <td>Project on description and analysis of the case systems of the Alto-Adige/Südtirol region, through digital platform VinKo.</td>
        </tr>
        <tr>
          <td>2015-2017</td>
          <td><b>Research Master</b>, Linguistics, cum laude, Leiden University, The Netherlands.</td>
          <td>Thesis: <i>The functions and semantics of the ablative case clitic of Iraqw, a language of Tanzania</i>.</td>
        </tr>
        <tr>
          <td>2012-2015</td>
          <td><b>Bachelor</b>, Linguistics, track Descriptive Linguistics, Leiden University, The Netherlands.</td>
          <td>Thesis: <i>Predicative possession in the Pacific Northwest language area</i>.</td>
        </tr>
         <tr>
        <th colspan="3">Work Experience</th>
        </tr>
        <tr>
          <td>2017-2018</td>
          <td><b>Linguistic Consultant</b>, Productive Playhouse.</td>
          <td>Providing linguistic support in Dutch and working on several linguistic tasks, such as providing phonemic transcriptions for words, text normalization and verbalization, and evaluation of acoustic data.</td>
        </tr>
         <tr>
          <td>2016-2017</td>
          <td><b>Intern</b> in Iraqw research group, supervised by Leiden University, Kwermusl, Tanzania.</td>
          <td>Set-up of community-based, collaborative and sustainable research group for the Iraqw language, teaching basic computer skills to local researcher, devising advisory report on future course of the project.</td>
        </tr>
         <tr>
          <td>2016-2016</td>
          <td><b>Research Assistant</b>, University of British Columbia, Vancouver, Canada</td>
          <td>Collaborative project with the Heiltsuk community, digitization of lexicographic data, and creation of a syllabus on lexicography of indigenous and endangered languages.</td>
        </tr>
       <tr>
          <td>2015-2015</td>
          <td><b>Intern</b, in ‘Mixed languages’ project, Meertens Instituut, Amsterdam, The Netherlands.</td>
          <td>Transcribing and analysing audio file of Cité Duits (Dutch miners’ language variety) on morphosyntactic level, independent research.
</td>
        </tr>
        <tr>
          <td>2009-2016</td>
          <td>Various part-time jobs</td>
          <td>Store employee, waitress, warehouse employee.</td>
        </tr>
        <tr>
          <th colspan="3">Conferences</th>
        </tr>
        <tr>
          <td>4-5 April 2019</td>	
          <td>Talk on VinKo project</td>
          <td>Small languages, Big ideas. University of Zürich, Switzerland.</td>
        </tr>
        <tr>
          <td>11-12 Feb 2019</td>
          <td>Participant</td>
          <td>Language Documentation 7: Documenting variation. Free University of Bozen-Bolzano, Italy.</td>
        </tr>
        <tr>
         <td>13-14 Dec 2018</td>
          <td>Participant</td>
          <td>Workshop ‘Fieldwork: Theory and Methods’, University of Gothenburg, Sweden.</td>
        </tr>
        <tr>
          <td>3-5 Sept 2018</td>
          <td>Talk on Iraqw locative syncretism and ablative</td>
          <td>Syntax of the World’s Languages VIII, INALCO, Paris, France.</td>
        </tr>
        <tr>
          <td>28-30 August 2017</td>
          <td>Talk on Iraqw ablative clitic</td>
          <td>Colloquium on African Languages and Linguistics, Leiden University, The Netherlands.</td>
        </tr>
        <tr>
          <td>26-07 July 2017</td>
          <td>Poster presentation on thesis</td>
          <td>LOT Summer School, Leiden University, The Netherlands.</td>
        </tr>
        <tr>
          <td>21-22 April 2017</td>
          <td>Talk on thesis</td>
          <td>T.W.I.S.T. conference, Leiden University, The Netherlands.</td>
        </tr>
        <tr>
          <td>18-21 March 2016</td>
          <td>Participant and volunteer</td>
          <td>Annual Conference of the International Institute for Asian Studies, Leiden, The Netherlands.</td>
        </tr>
        <tr>
          <th colspan="3">Other activities</th>
        </tr>
        <tr>
          <td>2018 - present</td>
          <td>Member of workgroup ‘Public website’, Rift Valley Network.</td>
        </tr>
        <tr>
          <td>2019 - present</td>
          <td>Organising LiVe (Linguistics in Verona) PhD lunches and colloquia</td>
        </tr>
      </table>
      </div>
</section>

<aside class="left-sidebar">
    </aside>
<aside class="main-sidebar" role="complementary"></aside>

</div>

<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" target="_blank" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" target="_blank" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>

</body>
</html>
