<html lang="en">

<head>
<link href="style.css" type="text/css" rel="stylesheet"></link>
    <link rel='shortcut icon' href='favicon.png' type='image/png'/>
<title>Gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<header class="headergal"></header>

<! --- Navbar --- >
 <div class="topnav">
    <a href="index.html">Home</a>
    <a href="cv.html">CV</a>
    <a href="publications.html">Publications</a>
    <a href="recordings.html">Audio files</a>
    <a class="active" href="gallery.html">Gallery</a>
    <a  href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/gallery_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="gallery.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
 </div>

<div class="page-wrap">
<main>
<div class="row"> 
<div class="column">

<div class="gallery">
  <a target="_blank" href="images/verona1.jpg">
    <img src="images/verona1.jpg" alt="Verona" width="600" height="400">
  </a>
  <div class="desc">Ponte Pietra</div>
</div>
  <div class="gallery">
    <a target="_blank" href="images/mamaisara.JPG">
      <img src="images/mamaisara.JPG" alt="Mamaisara" width="600" height="400">
    </a>
    <div class="desc">Rift Plateau Tanzania</div>
  </div>

  <div class="gallery">
    <a target="_blank" href="images/slee.JPG">
      <img src="images/slee.JPG" alt="Calf" width="600" height="400">
    </a>
    <div class="desc">Cattle having a snack</div>
    </div>
    
      <div class="gallery">
    <a target="_blank" href="images/kwermusl.JPG">
      <img src="images/kwermusl.JPG" alt="Kwermusl" width="600" height="400">
    </a>
    <div class="desc">Rift Plateau Tanzania</div>
    </div>
    
          <div class="gallery">
    <a target="_blank" href="images/driemolens.jpg">
      <img src="images/driemolens.jpg" alt="Polders" width="600" height="400">
    </a>
    <div class="desc">Polder</div>
    </div>
    
  </div>
</main>
</div>

<div>
<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>
</div>

</body>

</html>
