<html>

<head>
<link href="style.css" type="text/css" rel="stylesheet"></link>
<title>Gallery</title>

<header class="headergal"></header>
 
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>

 <div class="topnav">
    <a href="index.html">Home</a>
    <a class="active" href="gallery.html">Conference Bingo</a>
    <a href="recordings.html">Recordings</a>
    <a href="index.html">Publications</a>
 </div>
 
<div class="content">

<div class="gallery">
  <a target="_blank" href="verona1.jpg">
    <img src="verona1.jpg" alt="Verona" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="verona2.jpg">
    <img src="verona2.jpg" alt="Verona" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="verona3.jpg">
    <img src="verona3.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>

</html>
