<html>
 <div class="topnav">
    <a href="index.html">Home</a>
    <a href="cv.html">CV</a>
    <a href="publications.html">Publications</a>
    <a href="recordings.html">Audio files</a>
    <a class="active" href="gallery.html">Gallery</a>
    <a  href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/gallery_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="gallery.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
 </div>
</html>
