<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
  <title>Anne's Page</title>
  </head>
  <body>
       <header class="headerind"></header>
  <div class="topnav">
    <a class="active" href="index.html">Home</a>
    <a href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
  </div>
  
  <div class="content">
     <h1><img class="profile" src="./images/anne.jpg" alt="Profile Picture"/>Anne's Page</h1>
      <p>I am a postgraduate student in the University of Verona <a href="http://www.dlls.univr.it/?ent=avvisoin&cs=819&lang=en">Department of Linguistics</a>.
I work with <a href="http://www.dlls.univr.it/?ent=persona&id=2660">Stefan Rabanus</a>. My project focuses on the case systems of the Alto-Adige region, and Digital Humanities, in the spirit of which I am trying my hand on learning to build my own webpage through HTML5 and CSS.</p>

      <h2>Where to find me</h2>
        <p>During the week days I am usually in our <em>'gekraakte'</em> co-working room, which will not be given up to the authorities without a fight! In the weekends, I try to go out into the nature/countryside/mountains as much as possible, if the weather permits. If not, I also enjoy wandering through nearly empty museums while being chased by bored supposts.</p>

      <h2><img class="profile" src="./saintrochus.JPG" alt="a saint with sore leg"/>Favourite saints</h2>
        <ul> 
          <li>Saint Sebastian</li>
          <li>Saint Rochus</li>
        </ul>
  
<h2>Things I enjoy doing in my free time</h2>
<ul>
<li><strong>Linguistics stuff</strong></li>
  <ul>
    <li>Reading dictionaries</li>
    <li>Learning new languages (well starting to learn)</li>
   </ul>
<li><strong>Non-linguistics stuff</strong></li>
    <ul>
      <li>Kayaking</li>
      <li>Hiking</li>
      <li>Generic third item (all things come in threes)</li>
    </ul>
</ul>

<ol>
<strong class="listtitle">Top three things to do in Verona</strong>
    <li>Walk along the City walls</li>
    <li>See the Arena</li>
    <li>Have Spritz on one of the squares</li>
</ol>

</div>

<footer>&copy;2019</footer>

</body>
</html>
