<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
    <link rel='shortcut icon' href='favicon.png' type='image/png'/>
    <script type="text/javascript" src="js/clock.js"></script>
  <title>Anne's Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
       <header class="headerind"></header>
  <div class="topnav">
    <a class="active" href="index.html">Home</a>
    <a href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/index_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="index.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
  </div>
  
  <div class="page-wrap">
  <section class="main-content">
     <h1>Personal Information</h1>
      <p>My name is Anne Kruijt, and I am a Dutch postgraduate student at the University of Verona in the <a href="http://www.dlls.univr.it/?ent=avvisoin&cs=819&lang=en" target="_blank">Department of Linguistics</a>. For my PhD project, I work on the case systems of the Alto-Adige region, in a Digital Humanities framework, in the spirit of which I am trying my hand on learning to build my own webpage through HTML5, CSS, and Javascript. For this reason this website might look a makeshift, as it is growing along my learning curve, and therefore it includes some crazy colours schemes, unnecessary tables, and loads of unneeded html syntax. It is also entirely possible it will not load or fit on a mobile device at all.</p>

      <h2>Where to find me</h2>
      <p>During the week days I can usually be found in the PhD-room (Dottorandi) on the second floor of the Palazzo Lingue, which is still quite sparse at the moment, but which is slowly being improved by a kettle, some plants, and, in the future, a splash of colour on the walls. In the weekends, I try to go out into the nature/countryside/mountains as much as possible, if the weather permits (which it usually does here). If not, I also enjoy wandering through nearly empty museums while being stalked by bored supposts.</p>
  
<h2>Research interests</h2>
  <ul>
    <li>Descriptive linguistics</li>
    <li>Language contact</li>
    <li>Cushitic languages (esp. Iraqw)</li>
    <li>Case systems</li>
    <li>Language endangerment</li>
    <li>Field methods and tools</li>
    <li>Morphosyntax</li>
   </ul>
</section>

<aside class="left-sidebar">
    </aside>
<aside class="main-sidebar"><img class="profile" id="sidebarpic" src="./images/anne.jpg" alt="Profile Picture"/><br></br>
<div id="sidebarpic">
<h3>Links</h3>
<p><a href="https://riftvalleynetwork.wordpress.com/" target="_blank">Rift Valley Network</a>
<a href="https://www.facebook.com/RiftValleyNetwork/" class="fa fa-facebook"></a>
    <span id="clock"></span>
    <script type="text/javascript">window.onload = clock('clock');</script>
</div>
</aside>

</div>

<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>

</body>
</html>
