<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
        <link rel='shortcut icon' href='favicon.png' type='image/png'/>
  <title>Anne's Page</title>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
  </head>
  <body>
       <header class="headermap"></header>
  <div class="topnav">
    <a href="index.html">Home</a>
    <a href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
    <a class="active" href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/map_nl.html">NL <img src="icons/nederland.png" style="height:17px; width:17px;"></a>
    <a style="float:right" href="map.html">EN <img src="icons/canada.png" style="height:17px; width:17px;"></a>
  </div>
  
   <div class="page-wrap" id="mapid"></div>
   <script>
   var mymap = L.map('mapid').setView([45.436, 11.00], 12.77);
   L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYW5uZWtyIiwiYSI6ImNqdDV5OXBjbzBhdWs0NHBqcjFjbHVuYXQifQ.9FqOaDWFm4WdqlWC2WX6VQ'
}).addTo(mymap);

var redIcon = L.icon({
    iconUrl: './icons/red.png',
    iconSize: [40, 40], // size of the icon
});

var marker = L.marker([45.436, 11.003], {icon: redIcon}).addTo(mymap);
    marker.bindPopup("<b>Here I am!");
    

   </script>
   
</body>
</html>
