<!DOCTYPE HTML>

<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
     <link rel='shortcut icon' href='favicon.png' type='image/png'/>
     <script type="text/javascript" src="js/clock.js"></script>
  <title>Recordings</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header class="headerrec"></header>

 <div class="topnav">
    <a href="index.html">Home</a>
    <a class="active" href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
    <a href="map.html">Where in the world am I?</a>
    <a style="float:right" href="nl/recordings_nl.html">NL <img src="icons/nederland.png" style="height:16px; width:16px;"></a>
    <a style="float:right" href="recordings.html">EN <img src="icons/canada.png" style="height:16px; width:16px;"></a>
 </div>
 
<div class="page-wrap">
  <section class="main-content" role="main">
   <h1>Recordings</h1>
    <p>This page will contain the recordings of my data in the future</p>
    
  </section>
  <aside class="main-sidebar" role="complementary">
  
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
  <li><a href="#">Kruijt_2019_1b
    <audio controls>
	  <source src="audio/kruijt_2019_1b.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></li>
  <li><a href="#">Kruijt_2019_1c
<audio controls>
	   <source src="audio/kruijt_2019_1c.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></li>

  <li><a href="#">Kruijt_2019_1d
<audio controls>
	   <source src="audio/kruijt_2019_1d.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
  <li><a href="#">Kruijt_2019_23b
<audio controls>
	   <source src="audio/kruijt_2019_23b.wav" type="audio/wav" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>

  <li><a href="#">Say a little prayer - Aretha Franklin
<audio controls>
	   <source src="audio/franklin.mp3" type="audio/mp3" />
	   Error: your web browser does not support this audio player.
  </audio></a></a></li>
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
  </aside>
  
  <aside class="left-sidebar" role="left">
      <span id="clock"></span>
    <script type="text/javascript">window.onload = clock('clock');</script>
    </aside>

</div>

<footer>&copy; 2019 A Kruijt
    <a id="social" href="https://www.facebook.com/anne.kruijt.9?ref=bookmarks" class="fa fa-facebook"></a>
    <a id="social" href="https://www.linkedin.com/in/anne-kruijt-863735145/" class="fa fa-linkedin"></a>
    <a id="social" href="mailto:kruijtanne@gmail.com" class="fa fa-google"></a>
</footer>

</body>
</html>
