<!DOCTYPE HTML>

<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet"></link>
  <title>Recordings</title>
</head>

<body>

<header class="headerrec"></header>

 <div class="topnav">
    <a href="index.html">Home</a>
    <a class="active" href="recordings.html">Recordings</a>
    <a href="publications.html">Publications</a>
    <a href="gallery.html">Gallery</a>
    <a href="bingo.html">Conference Bingo</a>
    <a href="./recordings.R">Recordings app</a>
 </div>
 
<div class="content">

  <h1>Recordings</h1>
  <p>This page will contain the recordings of my data in the future</p>
  
    <audio controls>
	   <source src="../audio/testsmall.mp3" type="audio/mpeg">
	   Error: your web browser does not support this audio player.
  </audio>

<embed height="60" type="audio/midi" width="144" src="audio/test.mp3" volume="60" loop="false" autostart="false" />

</div>

<div>
<footer>&copy;A Kruijt 2019</footer>
</div>

</body>
</html>
